<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  
  <p><a id="error-trigger" href="/trigger-error">Trigger Server Error</a></p>
  <br>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
</footer>