
<section id="welcome">
    <h1 id="welcomeH1" >Welcome to CSE Motors!</h1><br>
    <div id="welcomeDiv">
        <h2 id="welcomeH2">DMC Delorean</h2>
        <h3 class="welcomeP">3 cup holders</h3>
        <h3 class="welcomeP">Superman doors</h3>
        <h3 class="welcomeP">Fuzzy dicel</h3>
        <a href="#" id="imageButton">
            <img src="../images/site/own_today.png" alt="Click Here">
        </a>
    </div>
</section>

<section id="reviews">
    <h1>DMC Delorean Reviews</h1>
    <div id="reviewsDiv">
        <ul id="reviewsUl">
            <li>"So fast its almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling Marty McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
        
</section>

<section id="upgrades">
    <h1>Delorean Upgrades</h1>
    <div id="upgradesDiv">
        <figure id="capacitorImg">
            <img src="../images/upgrades/flux-cap.png" alt="A flux capacitor" width="60" height="60">
            <figcaption>
                <a href="#">Flux Capacitor</a>
            </figcaption>
        </figure>

        <figure id="decalsImg">
            <img src="../images/upgrades/flame.jpg" alt="A flame decal" width="60" height="60">
            <figcaption>
                <a href="#">Flame Decals</a>
            </figcaption>
        </figure>

        <figure id="stickersImg">
            <img src="../images/upgrades/bumper_sticker.jpg" alt="A bumper sticker" width="60" height="60">
            <figcaption>
                <a href="#">Bumper Stickers</a>
            </figcaption>
        </figure>

        <figure id="capssImg">
            <img src="../images/upgrades/hub-cap.jpg" alt="Hub caps" width="60" height="60">
            <figcaption>
                <a href="#">Hub Caps</a>
            </figcaption>
        </figure>
    </div>
</section>


